<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hey, Cochrane</title>
  </head>
  <body>
    <h1>Hey, Cochrane</h1>
    <p><em>Digestible summaries of Cochrane reviews (as close to "truth" as you're going to get.)</em></p>
    <ul>
      <% @summaries.each do |s| %>
        <li class="summary-item">
          <h2><%= s.question %></h2>
          <h3><a href="<%= s.url %>"><%= s.answer %></a></h3>
          <p><%= s.notes %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>
